<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>This is my Profile Page</title>
    <link rel="stylesheet" href="main.css">
    <meta name="viewprot" content="width=device-width">
    <nav>
      <a href="/">Home</a>
      <a href="about">Results</a>
    </nav>
  </head>
  <body>

<!-- <div>
  <img id="boss" src="https://img.buzzfeed.com/buzzfeed-static/static/2017-03/23/16/asset/buzzfeed-prod-fastlane-02/sub-buzz-30777-1490300336-1.jpg?downsize=700%3A%2A&output-quality=auto&output-format=auto&output-quality=auto&output-format=auto&downsize=360:*">
</div> -->
  <%= yield  %>
  <footer>Made By Jimmy Tan Copyright 2019</footer>
  <script src="main.js"></script>
  </body>
</html>
