<h1>Books</h1>
<h2>You searched for: <%= @results %></h2>
<div id="big">
 <div class="item">
   <div>
     <p>Title: <%=@first.title %></p>
     <p>Author: <%=@first.authors %></p>
   </div>
   <div>
     <img src="<%=@first.image_link %>" alt="No Image Available">
   </div>
 </div>

</div>
